<DOCTYPE html>
    <html lang="en">

    <head>

        <title>Login</title>
    </head>

<body> 
    <form action="login.html" method="POST">
        <p>
            <label>Nombre de usuario</label>
            <input type="text" name="nombre y apellido" required>
        </p>

        <p>
            <label>Contraseña</label>
            <input type="text" name="nombre y apellido" required>
        </p>

        <p>
            <label>Nombre de usuario </label>
            <input type="text" name="nombre y apellido" required>
        </p>
                <input type="submit" name="button" required value="Enviar" href="/home.ejs">  
    <form>            
</body>